<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap зависимости -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Редактирование задания</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Редактирование задания</h2>
                <form th:action="@{/tasks/edit/{id}(id=*{task.id})}" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Название</label>
                        <input type="text" id="title" name="title" class="form-control" th:value="${task.title}" required>
                    </div>
                    <div class="mb-3">
                        <label for="done"><b>Статус задачи</b></label>
                        <select class="form-control" id="done" name="done" required>
                            <option value="" disabled selected>Выберите статус задачи</option>
                            <option th:value=true>Выполнено</option>
                            <option th:value=false>Новое</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="priority"><b>Приоритет</b></label>
                        <select class="form-control" id="priority" name="priorityId" required>
                            <option value="" disabled selected>Выберите приоритет</option>
                            <option th:each="priority : ${priorities}"
                                    th:value="${priority.id}"
                                    th:text="${priority.name}"
                                    th:selected="${priority.id == task.priority.id}"></option>
                            ></option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание</label>
                        <textarea id="description" name="description" class="form-control" rows="3" required
                                  th:text="${task.description}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    <a th:href="@{/tasks}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>